.about {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 100px 80px;
  min-height: 100vh;
}

.about-left {
  width: 50%;
}

.section-tag {
  color: #00bfff;
  font-size: 14px;
  letter-spacing: 2px;
}

.about h2 {
  font-size: 70px;
  margin: 20px 0;
  line-height: 1.2;
}

.about h2 span {
  color: #00bfff;
}

.about p {
  color: #9cb4c9;
  line-height: 1.8;
  margin-bottom: 25px;
  font-size: 18px;
}

.tags {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.tags span {
  border: 1px solid #00bfff;
  padding: 10px 18px;
  border-radius: 25px;
  color: #00bfff;
  font-size: 14px;
}

.about-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: rgba(10, 20, 35, 0.9);
  border: 1px solid rgba(0, 191, 255, 0.1);
  padding: 25px;
  border-radius: 18px;
  transition: 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
  border-color: #00bfff;
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.2);
}

.icon {
  font-size: 22px;
  color: #00bfff;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 50px 20px;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about h2 {
    font-size: 40px;
  }
  
}
