.education {
  padding: 100px 80px;
  min-height: 100vh;
}

.education h2 {
  font-size: 70px;
  margin-bottom: 50px;
  color: white;
}

.education h2 span {
  color: #00bfff;
}

.edu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.edu-card {
  background: rgba(10, 20, 35, 0.9);
  border: 1px solid rgba(0, 191, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  transition: 0.3s ease;
  backdrop-filter: blur(12px);
}

.edu-card:hover {
  transform: translateY(-5px);
  border-color: #00bfff;
  box-shadow: 0 0 25px rgba(0, 191, 255, 0.2);
}

.edu-card h3 {
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.edu-card p {
  color: #a0b4c8;
  line-height: 1.7;
}
.edu-date {
  background: #00bfff;
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
}
@media screen {
  .education {
    padding: 50px 20px;
  }

  .edu-grid {
    grid-template-columns: 1fr;
  }
  
}
