.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.navbar li {
  font-size: 18px;
  font-weight: 600;
}
.logo {
  color: var(--accent-color);
  font-size: 32px;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

li {
  cursor: pointer;
  color: var(--text-color);
}

.theme-btn {
  background: transparent;
  border: 1px solid var(--accent-color);
  padding: 8px 12px;
  border-radius: 50%;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: inherit;
}